body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color:rgba(27, 27, 27, 0.8);
    color:#3b3b4f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

h1 {
    color: whitesmoke;
}

p {
    font-weight: bold;
    color: beige;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    border:#3b3b4f 2px solid;
    padding: 25px;
    border-radius: 5px;
    background-color: aquamarine;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: red;
    border-color: red;
    border-radius: 5px;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}